#people {
    width: 100%;
    height: 100%;
}

    #people {
        width: 100%;
        height: 100%;
    }
    .get-oc-tb{
        border-radius: 20px;
        background-color: #222d32 !important;
    }

    .get-data-pane input, .get-data select{
        border-radius: 5px !important;
        padding-left: 10px !important;
        box-shadow: 0 1px 1px rgba(0,0,0,.3) !important;
    }
    .get-oc-select-parent{
        border-radius: 5px !important;
        padding-left: 5px !important;
        box-shadow: 0 1px 1px rgba(0,0,0,.3) !important;
    }

    .get-oc-tb input{
        border-radius: 20px;
    }
    .get-org-chart rect.get-box {
        fill: #ffffff;
        stroke: #D9D9D9;
    }

    .get-org-chart .get-text.get-text-0 {
        fill: #262626;
    }
    
    .get-org-chart .get-text.get-text-1 {
        fill: #262626;
    }
    
    .get-org-chart .get-text.get-text-2 {
        fill: #788687;
    }

    .get-green.get-org-chart {
        background: transparent;
    }
    .get-oc-v{
        background: white;
        margin-top: 20px;
        border-top-color: #3c8dbc;
        border-top: 3px solid;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        height: 650px !important;
        width: 100%;
        overflow: hidden !important;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.3) !important;
    }
    .get-image-pane img{
        border-radius: 10%;
        border: 2px solid rgba(0,0,0,.7) !important;
        
    }
    .more-info {
        fill: #18879B;
    }

    .btn path {
        fill: #F8F8F8;
        stroke: #D9D9D9;
    }

    .btn {
        cursor: pointer;
    }
    
    .btn circle {
        fill: #555555;
    }

    .btn line {                
        stroke-width: 3px;
        stroke: #ffffff;
    }         