
tr input, tr select{
    height: 20px !important;
    border: 1px solid #ccc;
    width: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
}
tr input{
    padding-left: 10px;
}
tr select{
    padding-left: 5px;
}
.option-button{
    background-color: #222d32;
    color: white;
    border: 1px solid #111;
    text-align: center;
    /* width: 15px !important; */
    padding: 0;
}

.edit-field{
    /* display: none; */
}
.buttonHolder{ text-align: center; }

#save_all{
    width: 60%;
    height: 45px;
    margin: auto;
    border: solid 1px #333;
    background-color: #525d62;
    color:white;
    border-radius: 10px;
}