.sidebar-form{
	border: 0 !important;
}

.sidebar-form .btn{
    border-top-right-radius: 90px !important;
    border-bottom-right-radius: 90px !important;
}

.sidebar-form input[type="text"]{
	 border-top-left-radius: 90px !important; 
     border-bottom-left-radius: 90px !important;
     border: 0 !important;
}